.initial-value-toolTip{
    position: absolute;
    top: 10px;
    padding-right: 5px;
}

span.initial-value-toolTip:after{
    border-right: 1px solid #aeaeae;
    content: "";
    position: relative;
    top: -2px;
    left: 5px;
}